<div class="rating-stars">
  <span class="empty-stars">
    <span class="star">
      <i class="glyphicon glyphicon-star-empty"></i>
    </span>
  </span>
  <span class="empty-stars">
    <span class="star">
      <i class="glyphicon glyphicon-star-empty"></i>
    </span>
  </span>
  <span class="empty-stars">
    <span class="star">
      <i class="glyphicon glyphicon-star-empty"></i>
    </span>
  </span>
  <span class="empty-stars">
    <span class="star">
      <i class="glyphicon glyphicon-star-empty"></i>
    </span>
  </span>
  <span class="empty-stars">
    <span class="star">
      <i class="glyphicon glyphicon-star-empty"></i>
    </span>
  </span>
</div>